<footer>
  <section class="footer-section">
    <p>
      <span
        ><a
          href="https://www.fulltimeforce.com"
          rel="noopener noreferer"
          target="_blank"
          >FullTimeForce</a
        >
        © 2022. Todos los derechos reservados.</span
      >
    </p>
  </section>
</footer>
