<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <header>
      <h2>FulltimeForce video recorder</h2>
    </header>
    <main>
      <video muted id="video" autoplay></video>
      <section class="container">
        <p>
          <span id="minutes">00</span> :
          <span id="seconds">00</span>
        </p>
      </section>
    </main>
    <section class="buttons-section">
      <button id="btn-start">Comenzar grabación</button>
      <button id="btn-stop">Detener</button>
      <button id="btn-finish">Finalizar y enviar</button>
      <button id="re-record">Re-grabar</button>
    </section>

    <a href="#video-preview" id="watch-preview"></a>

    <section class="video-status">
      <p id="uploading"></p>
      <p id="finished"></p>
    </section>

    <section class="info">
      <p id="info-text">¡Gracias por utilizar nuestra plataforma!.
      En estos dias nos estaremos contactando contigo para actualizarte sobre tu proceso de selección.
      </p>
      <p>Por favor, mantente atento a tu correo electronico.</p>
    </section>

    <section class"video-preview-container">
      <h3 id="video-preview-header">Previsualizar video</h3>
      <video id="video-preview"></video>
    </section>
  </body>
</html>
