<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina no encontrada</title>
  </head>
  <body>
    <main class="not-found">
      <h1>404 no encontrado</h1>
      <h2>La pagina a la que estas intentando acceder no existe...</h2>
    </main>
    <style>
      body {
        padding: 0;
        margin: 0;
      }
      .not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    </style>
  </body>
</html>
