<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/urlNotValid.css" />
    <title>Url no válida</title>
  </head>
  <body>
    <main class="url-not-valid">
      <h1>Url no válida</h1>
      <p>
        La url con la que has intentado ingresar no es válida. Esto se debe a
        que dicha URL ya ha expirado.
      </p>
      <p>
        Para poder ingresar a la plataforma, por favor contacta con la persona
        de reclutamiento que te contacto para que pueda proveerte de una nueva
        url para poder ingresar.
      </p>
    </main>
  </body>
</html>
