<!DOCTYPE html>
<html lang="en">
  <%- include('../header.ejs') %>
  <body>
    <h2>La url no es valida</h2>
    <p>
      La url con la que has intentado ingresar no es valida. Esto se debe a que
      dicha URL ya ha expirado.
    </p>
    <p>
      Para poder ingresar a la plataforma, por favor contacta con la persona de
      reclutamiento que te contacto para que pueda proveerte de una nueva url
      para poder ingresar.
    </p>

    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      h2 {
        margin-top: 20px;
      }
    </style>
  </body>
</html>
