<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FulltimeForce video recorder</title>
  </head>
  <body>
    <main class="url-not-valid">
      <h1>La url no es valida</h1>
      <p>
        La url con la que has intentado ingresar no es valida. Esto se debe a
        que dicha URL ya ha expirado.
      </p>
      <p>
        Para poder ingresar a la plataforma, por favor contacta con la persona
        de reclutamiento que te contacto para que pueda proveerte de una nueva
        url para poder ingresar.
      </p>
    </main>
    <style>
      .url-not-valid {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .url-not-valid p {
        font-size: large;
      }
    </style>
  </body>
</html>
