<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/main.css" />
    <script
      src="../../public/js/bundles/videoReceiverBundle.js"
      type="text/javascript"
    ></script>
    <title>FulltimeForce video viewer</title>
  </head>
  <body>
    <header>
      <h2>FulltimeForce video viewer</h2>
    </header>
    <main class="video-viewer">
      <video id="video-container"></video>
      <h4 id="loading-image">Cargando imagen...</h4>
    </main>
  </body>
</html>
